<nav>
   <ul>
      <li class="home">
         <a href="/">
            <img src="/img/hacker-news-logo.gif">
         </a>
      </li>
      <li class="news">
         <a href="/news">Hacker News</a>
      </li>
      <li>
         <a href="/newest">new</a>
      </li>
      <li>
         <a href="/newcomments">comments</a>
      </li>
      <li>
         <a href="/ask">ask</a>
      </li>
      <li>
         <a href="/show">show</a>
      </li>
      <li>
         <a href="/jobs">jobs</a>
      </li>
      <li class="submit">
         <a href="/submit">submit</a>
      </li>
      <li class="login">
         <a href="/login">login</a>
      </li>
   </ul>
</nav>